@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(32, 33, 37, 1);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: white;
}

nav {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

a {
    text-decoration: none;
}

.heading {
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

.dot {
    color: #cae962;
}

.search {
    display: flex;
    gap: 10px;
}

.icon {
    color: #1e1e1e;
    background-color: #cae962;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.search-bar {
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, .4);
    border: none;
    border-radius: 20px;
    width: 200px;
    padding: 5px 5px 5px 10px;
    outline: none;
}

svg {
    margin: 5px;
}

.episode-list{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 10em;
    width: 200px;
    min-height: 50vh;
    background-color:rgba(29, 29, 33, 1)
}

.ep {
    font-size: 1.5rem;
    color: white; 
    padding: .25em;
}

.episode-list > a {
    text-decoration: none;
}

.episode-list > a:hover {
    background-color: #cae962;
}

.streaming {
    background-color: white;
    width: 750px;
    height: 500px;
    position: absolute;
    top: 88px;
    left: 380px;
}











