.streaming-page {
    display: flex;
    // min-height: 100vh;
    // align-items: center;
    margin-top: 50px;
    justify-content: center;
    gap:15px;

    .ep-list {
        background-color: white;
        height: 200px;
        font-size: 1.25rem;
        width: 250px;
        overflow-y: auto;

        div:hover {
            background-color: #f5f5f5;
        }
    }

    .streaming-screen {
        width: 800px;
        height: 450px;
        background-color: white;
    }
}
.streaming-screen iframe {
    border: none;
  }
